.mat-mdc-extended-fab {
    height: 30px;
}

.mat-mdc-extended-fab .mdc-fab__ripple {
    border-radius: 0px;
}

#sidenav {
    display: flex;
    width: 175px;
    text-align: center;
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.mat-divider {
    width: 100%;
    border-top-width: 3px;
}

#sidenav-container {
    width: 100%;
    height: 100%;
}

app-chord-selector, app-inlines-selector, app-section-selector {
    width: 100%;
}

#editor-container {
    height: 100%;
}