<h2 mat-dialog-title>Create new song template</h2>
<mat-dialog-content class="mat-typography" style="display: flex;">
    <mat-tab-group style="flex-grow: 1;" (selectedTabChange)="onSelectedTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
            <mat-icon class="tab-icon">auto_awesome</mat-icon>
            Automatic
            </ng-template>
            <div class="new-automatic-form">
                <mat-list>
                    <mat-grid-list cols="3" rowHeight="75px" gutterSize="10">
                        <mat-grid-tile colspan="2">
                            <mat-form-field class="full-width">
                                <mat-label>Song title</mat-label>
                                <input matInput #inpSongTitle cdkFocusInitial placeholder="Title of the song" [(ngModel)]="songTitleToSearch" (keydown.enter)="querySongSearch()">
                                <mat-hint align="start">Optional if song artist(s) is/were given</mat-hint>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1">
                            <mat-form-field class="full-width">
                                <mat-label>Song artist(s)</mat-label>
                                <input matInput #inpSongAuthors placeholder="Artist(s) of the song" [(ngModel)]="songArtistsToSearch" (keydown.enter)="querySongSearch()">
                                <mat-hint align="start">Optional if song title is given</mat-hint>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3">
                            <button id="query-songs-button" mat-raised-button extended color="accent" (click)="querySongSearch()">
                                <mat-icon>search</mat-icon>
                                Search
                            </button>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider *ngIf="searchResults.length > 0"></mat-divider>
                    <mat-selection-list #songs role="list" [multiple]="false" [hideSingleSelectionIndicator]="true" *ngIf="searchResults.length > 0" style="width: 100%;" (selectionChange)="onSongSelected($event, songs.selectedOptions.selected)">
                        <mat-list-option role="listitem" *ngFor="let searchResult of searchResults" [value]="searchResult" style="margin-bottom: 10px; background-color: rgba(255, 255, 255, 0.04);">
                            <img matListItemAvatar [src]="searchResult.albumCoverImg" alt="" style="border-radius: 0px; margin-top: 0px; margin-left: 0px; width: 72px; height: 72px;">
                            <div matListItemTitle>{{ searchResult.title }}</div>
                            <div matListItemLine>{{ searchResult.artists.join(', ') }}</div>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
            <mat-icon class="tab-icon">edit_note</mat-icon>
            Manual
            </ng-template>
            <div class="new-manual-form">
                <mat-grid-list cols="6" rowHeight="75px" gutterSize="10">
                    <mat-grid-tile colspan="6">
                        <mat-form-field class="full-width">
                            <mat-label>Title</mat-label>
                            <input matInput cdkFocusInitial placeholder="Title of the song" [(ngModel)]="songTitle">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4">
                        <mat-form-field class="full-width">
                            <mat-label>Artist(s)</mat-label>
                            <input matInput placeholder="Artist(s) of the song" [(ngModel)]="songArtists">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1">
                        <mat-form-field class="full-width">
                            <mat-label>Key</mat-label>
                            <mat-select [(ngModel)]="songKey">
                                <mat-option *ngFor="let key of keys" [value]="key">{{key}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1">
                        <mat-form-field class="full-width">
                            <mat-label>Mode</mat-label>
                            <mat-select [(ngModel)]="songMode">
                                <mat-option *ngFor="let mode of modes" [value]="mode">{{mode}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4">
                        <mat-form-field class="full-width">
                            <mat-label>Album</mat-label>
                            <input matInput placeholder="Album of the song" [(ngModel)]="songAlbum">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1">
                        <mat-form-field class="full-width">
                            <mat-label>Tempo</mat-label>
                            <input matInput placeholder="[d]dd" [(ngModel)]="songTempo" mask="900">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1">
                        <mat-form-field class="full-width">
                            <mat-label>Duration</mat-label>
                            <input matInput placeholder="mm:ss" [(ngModel)]="songDuration" mask="m0:s0">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <mat-form-field class="full-width">
                            <mat-label>Time</mat-label>
                            <input matInput placeholder="d/d" [(ngModel)]="songTime" mask="0/0">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="createSongDisabled" (click)="onCreateButtonClick()">Create</button>
</mat-dialog-actions>