<h2 mat-dialog-title>Create new song template</h2>
<mat-dialog-content class="mat-typography" style="display: flex;">
    <mat-tab-group style="flex-grow: 1;">
        <mat-tab>
            <ng-template mat-tab-label>
            <mat-icon class="tab-icon">auto_awesome</mat-icon>
            Automatic
            </ng-template>
            <div class="new-form" style="height: 100%;">
                <mat-grid-list cols="3" rowHeight="75px">
                    <mat-grid-tile colspan="2" style="margin-right: 10px;">
                        <mat-form-field class="full-width">
                            <mat-label>Song title</mat-label>
                            <input matInput placeholder="Title of the song" [(ngModel)]="songTitleToSearch">
                            <mat-hint align="start">Optional if song artist(s) is/were given</mat-hint>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" style="margin-left: 10px;">
                        <mat-form-field class="full-width">
                            <mat-label>Song artist(s)</mat-label>
                            <input matInput placeholder="Artist(s) of the song" [(ngModel)]="songArtistsToSearch">
                            <mat-hint align="start">Optional if song title is given</mat-hint>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="3">
                        <button id="query-songs-button" mat-raised-button extended color="accent" (click)="querySongSearch()">
                            <mat-icon>search</mat-icon>
                            Search
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-label *ngIf="searchResults.length > 0">Select desired song :</mat-label>
                <mat-selection-list role="list" [multiple]="false" [hideSingleSelectionIndicator]="true" style="margin-top: 10px;">
                    <mat-list-option role="listitem" *ngFor="let searchResult of searchResults" style="margin-bottom: 10px; background-color: rgba(255, 255, 255, 0.04);">
                        <img matListItemAvatar [src]="searchResult.albumCoverImg" alt="" style="border-radius: 0px; margin-top: 0px; margin-left: 0px; width: 72px; height: 72px;">
                        <div matListItemTitle>{{ searchResult.title }}</div>
                        <div matListItemLine>{{ searchResult.artists }}</div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
            <mat-icon class="tab-icon">edit_note</mat-icon>
            Manual
            </ng-template>
            Content 2
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Create</button>
</mat-dialog-actions>