mat-grid-list {
    margin: 20px 10px;
}

button {
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    padding: 8px;
}

.mdc-button--raised {
    padding: 0 8px 0 8px;
    text-overflow: ellipsis;
}

mat-label {
    display: block;
}

small {
    display: block;
    color: lightgray;
    font-size: 0.5rem;
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}