mat-grid-list {
    margin: 20px 10px;
}

button {
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}

.mdc-button--raised {
    padding: 0 8px 0 8px;
    text-overflow: ellipsis;
}