/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root { display: block; height: 100%; }
.editor-container { height: 100% !important; }
.loading-overlay-container > mat-dialog-container > div > div { background-color: transparent !important; box-shadow: none !important; }